{% extends "frontend/base.html" %}
{% block content_section %}
    <!-- content-section-starts -->
    <div class="content">
        <div class="main">
            <div class="container" style="height: 680px">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>属性</th>
                            <th>数值</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>{{ user_info.username }}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{ user_info.email }}</td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>{{ user_info.sex }}</td>
                    </tr>
                    <tr>
                        <td>角色</td>
                        <td>{{ user_info.role }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>
    <!-- content-section-ends -->
{% endblock %}